$rangeHeight: 51px;
$heightTransition: 1s;

.party-test[data-auth] {
  .test-achievements { display: block; }
}

.test-achievements {
  display: none;
  padding-top: 80px; padding-bottom: 80px;

  &__message {
    padding-bottom: 10px;
  }

  .scheme {
    width: 497px;
    margin-left: auto; margin-right: auto;
    margin-top: 20px; margin-bottom: 40px;
    &-block {
      width: 70px; margin-left: 11px;
      &:last-of-type { margin-right: 11px; }
    }

    &__ranges, &__dates {
      display: flex;
      align-items: flex-end;
    }

    &__ranges {
      height: $rangeHeight * 6;
    }

    &__range {
      height: 0px; background: $partyGreenColor;
      border-radius: 3px 3px 0 0;
      transition: height $heightTransition linear;
      transition-delay: $hideTransition;
      position: relative;

      &:before { 
        color: white; 
        min-height: 35px; height: 100%; 
        padding-top: 10px;
        box-sizing: border-box;
        position: absolute; bottom: 0; left: 0; right: 0;
      }

      &[data-range="0"] { 
        background: white;
        &:before { color: $partyGreenColor; content: '0/6'; }
      }
      &[data-range="1"] { 
        height: $rangeHeight; 
        &:before { content: '1/6'; }
      }
      &[data-range="2"] { 
        height: $rangeHeight * 2; 
        &:before { content: '2/6'; }
      }
      &[data-range="3"] { 
        height: $rangeHeight * 3; 
        &:before { content: '3/6'; }
      }
      &[data-range="4"] { 
        height: $rangeHeight * 4; 
        &:before { content: '4/6'; }
      }
      &[data-range="5"] { 
        height: $rangeHeight * 5; 
        &:before { content: '5/6'; }
      }
      &[data-range="6"] { 
        height: $rangeHeight * 6; 
        &:before { content: '6/6'; }
      }
    }

    &__basis {
      height: 9px; width: 100%;
      background: $partyPurpleColor;
    }

    &__dates {
      padding-top: 10px;
      align-items: stretch;

      .current {
        color: $partyGreenColor;
      }
    }

    &__date {
      display: flex; align-items: center;
      justify-content: center;
    }
  }

  &__blocks {
    width: 590px; font-size: 0;
    margin-left: auto; margin-right: auto;
  }

  .achievement-block {
    font-size: 18px;
    width: 184px; height: 184px;
    border-radius: 3px;
    text-align: center;
    display: inline-block; vertical-align: top;
    margin-right: 19px; margin-bottom: 24px;
    padding: 20px 3px;
    border: 2px solid;

    &:nth-of-type(3n) {
      margin-right: 0;
    }

    &__date {
      display: inline-block;
      min-width: 90px; height: 35px;
      padding-left: 5px; padding-right: 5px;
      margin-left: auto; margin-right: auto;
      margin-bottom: 20px;
      line-height: 35px;
      border-radius: 3px;
      color: white;
      white-space: nowrap;
    }

    &__title { height: 45px; margin-bottom: 15px; }

    &__result {
      font-size: 30px;
    }

    &[data-day="romantic"] { 
      color: $partyGreenColor; 
      .achievement-block__date { background: $partyGreenColor;}
    }
    &[data-day="fantastic"] { 
      color: $partyPinkColor; 
      .achievement-block__date { background: $partyPinkColor;}
    }
    &[data-day="detectives"] { 
      color: $partyPurpleColor; 
      .achievement-block__date { background: $partyPurpleColor;}
    }
    &[data-day="classic"] { 
      color: $partyPurpleColor; 
      .achievement-block__date { background: $partyPurpleColor;}
    }
    &[data-day="fairy"] { 
      color: $partyYellowColor; 
      .achievement-block__date { background: $partyYellowColor;}
    }
    &[data-day="poetry"] { 
      color: $partyGreenColor; 
      .achievement-block__date { background: $partyGreenColor;}
    }

    &[data-pass] {
      .achievement-block__title,
      .achievement-block__result { color: white; }
      .achievement-block__date { background: white; color: inherit; }

      &[data-day="romantic"] { background: $partyGreenColor; }
      &[data-day="fantastic"] { background: $partyPinkColor; }
      &[data-day="detectives"] { background: $partyPurpleColor; }
      &[data-day="classic"] { background: $partyPurpleColor; }
      &[data-day="fairy"] { background: $partyYellowColor; }
      &[data-day="poetry"] { background: $partyGreenColor; }
    }
  }
}

