.discount-rules {
  list-style: none; 
  margin-top: 38px; margin-bottom: 42px;
  li {
    margin-bottom: 10px;
  }
  .party-icon {
    display: inline-block; vertical-align: middle;
    margin-right: 15px;
    width: 48px; height: 48px;
    border-radius: 50%;
    background: $partyGreenColor;
  }
}

.test-discount {
  padding-top: 77px;
  padding-bottom: 80px;
  text-align: center;
  .container {
    width: auto; display: inline-block;
    text-align: left;
  }
}