.party-header {
  background-image: url($imgSrc + 'test-bg.svg');
  background-position: center;
  background-repeat: no-repeat;

  &__card {
    width: 635px; min-height: 425px;
    padding-bottom: 15px;

    .party-button {
      margin-top: 25px;
    }
  }
  

}