.test-results {
  display: none;
  padding-top: 80px;
  padding-bottom: 80px;

  &__description {
    margin-top: 30px; margin-bottom: 30px;
  }

  &__block {
    display: none;
  }

  &[data-status] {
    display: block;
  }

  &[data-status = "auth"] {
    [data-status="auth"] { display: block; }
  }

  &[data-status = "list"] {
    [data-status="list"] { display: block; }
  }

  &[data-status = "points"] {
    [data-status="points"] { display: block; }
  }
}

