include ../configs/config.pug
include ../elements/head.pug
include ../elements/bitrixAuth.pug
include ../elements/analytics.pug

-var projectName = 'pratchett';
-var imgUrl = mediaFolder + projectName + '/';

if mode === "production"
  +bitrixHeader
doctype html
html(lang="ru")
  head
    block topHead
    +head
    block bottomHead
    if mode === "production"
      +headAnalytics
  body
    if mode === "production"
      +topBodyAnalytics
    block topBody
    block content
    if mode === "production"
      +bitrixAuth
      +bitrixAuthScripts
    
    block bottomBody
    if mode === "production"
        +bottomBodyAnalytics
