* { margin: 0; padding: 0; box-sizing: border-box; }
html { font-size: $mainFontSize; line-height: $mainLineHeight; height: 100%; }
body { font-family: $mainFontFamily; color: $mainColor; height: 100%; }


