@mixin flex-column-center {
  display: flex; flex-direction: column; justify-content: center; align-items: center;
}

@mixin flex-row-center {
  display: flex; justify-content: center; align-items: center;
}

@mixin fix-header {
  header {
    position: fixed; top: 0; left: 0; right: 0;
    z-index: $fixHeaderZIndex;
  }
  main {
    padding-top: $headerHeight;
  }
}


@mixin button {
  display: inline-block;
  white-space: nowrap;

  padding: $buttonPadding;
  cursor: pointer;
  background: none;

  font-family: $buttonFontFamily;

  outline: none;
  border-style: $buttonBorderStyle;
  border-width: $buttonBorderWidth;
  border-color: $buttonBorderColor;
  box-shadow: $buttonBoxShadow;

  border-radius: $buttonBorderRadius;

  text-transform: $buttonTextTransform;
  letter-spacing: $buttonLetterSpacing;
  text-decoration: none;

  &:hover, &:focus, &:active {
    outline: none;
    border-style: $buttonHoverBorderStyle;
    border-width: $buttonHoverBorderWidth;
    border-color: $buttonHoverBorderColor;
    box-shadow: $buttonHoverBoxShadow;
    text-decoration: none;
  }
}

@mixin content-attr {
  &:before, &:after {
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
  }
  &:before {
    content: attr(data-before-content);
  }
  &:after {
    content: attr(data-after-content);
  }
}