mixin landingHeader(logo, menu)
  include ../elements/logo.pug
  include social.pug
  include menu.pug

  header.landing-header
    .container
      +logo(logo)
      if menu && menu.type == 'social'
        .landing-header__menu
          +socialList
      else if menu
        .landing-header__menu
          +customMenu(menu.data, 'header-menu')
