extend ../templates/main.pug

block topHead
	-var styleFile = "style.css"
	-var title = "Page title"
	-var description = "..description"

block bottomHead

block topBody

block content

block bottomBody



		