extend ../templates/main.pug



block topHead
	include ../elements/links.pug
	include ../landing/header.pug
	include ../landing/footer.pug

	-var styleFile = "style.css"
	-var title = "Page title"
	-var description = "..description"
	-
		var footerMenu = [
			{
				title: 'Книги',
				link: '/catalog/books/'
			},{
				title: 'Канцтовары',
				link: '/catalog/kanctovar/'
			},{
				title: 'Сувениры',
				link: '/catalog/souvenirs/'
			},{
				title: 'Акции',
				link: '/actions/'
			},{
				title: 'Что ещё почитать?',
				link: '/collections/'
			}
		];
		var headerMenu = [
			{"link": "", "title": "Скидка 10%"}, 
			{"link": "", "title": "Акции"}
		]

block bottomHead
	+jQuery
	<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>

block topBody

block content
	.landing.new-shop.fix-header
		+landingHeader({class:"white"}, {type: "menu", data: headerMenu})
		main

		+landingFooter({menu: footerMenu})

block bottomBody
	

		

		



		