mixin newShopHeader
  .new-shop__header
    .container
      .new-shop__title 25 мая открывается первый магазин во Владикавказе
      .new-shop__description Владикавказ – прекрасный город, поэтому в нём должно быть как можно больше книг. 25 мая крупнейшая книжная сеть «Читай-город» открывает здесь первый магазин. В честь этого события мы дарим покупателям скидку 10% на все книги. Скидка действует только 3 дня: с 25 по 27 мая. Купон не обязательно распечатывать, можете показать его на экране телефона. 
      button.button.button_big.new-shop__coupon-button(type="button") Хочу скидку
      .new-shop__coupon-info.hiddenbox(data-hidden)
        .hiddenbox__title Информация о купоне
        .hiddenbox__content Блаблабла
