mixin newShopRules
  .new-shop__rules
    .container.
      Акция проводится исключительно в розничном магазине сети, расположенном по адресу: г. Владикавказ, Московское шоссе, д. 3к ТЦ «Алания Молл» (далее – ««Магазин-участник»).

      2. Акция не действует в Интернет-магазине.

      3. В акции участвствуют все книги из ассортимента Магазина-участника, за исключением книги «Дети Ноя» (Шмитт) (ISBN 2618644).

      4. В период проведения Акции на товары, участвующие в Акции, предоставляется скидка в размере 10%.

      5. Для участия в акции покупатель должен предъявить купон в Магазине-участнике акции в период с 25.05.2018г. по 27.05.2018г. включительно (далее – «Период использования купона») в распечатанном или электронном виде до оплаты товара.

      6. Получить купон можно в период с 21.05.2018г. по 27.05.2018г. включительно из рекламы Акции в сети Интернет или на сайте www.chitai-gorod.ru по ссылке: __________. Для получения купона регистрация на сайте www.chitai-gorod.ru не требуется.

      7. Купон может быть использован неограниченное количество раз в период проведения Акции.

      8. Количество товара ограничено.

      9. Акция не действует в Магазине-участнике в случае резервирования товара в Магазине-участнике с помощью сайта www.chitai-gorod.ru.

      10. Оплата бонусами товара, приобретённого по Акции, возможна; начисление бонусов за товар, приобретённый по Акции, не производится.

      11. Скидка по Акции не суммируется со скидками по другим акциям, а также со скидкой по дисконтной карте «Читай-город» старого образца, корпоративным и партнерским картам.

      12. Стоимость покупки со скидкой по Акции засчитывается в целях определения процентного уровня участника бонусной программы «Читай-город».

      13. При возврате товара, приобретенного по Акции, по истечении Периода использования купона скидка не восстанавливается, а денежные средства за такой товар возвращаются в размере стоимости товара за вычетом скидки по Акции.

      14. Вся информация об Акции, в частности, информация о сроках проведения Акции, об организаторе Акции, о правилах её проведения, иная информация, предоставление которой в соответствии действующим законодательством РФ является обязательным, предоставляется по телефону 8-800-444-8-444.

      15. Организатором Акции в любое время, без предварительного уведомления участника Акции могут быть изменены условия Акции, в том числе, но, не ограничиваясь, сроки действия Акции, перечень участников Акции, иные условия Акции.

      В том числе, Организатор Акции вправе в одностороннем порядке приостановить, досрочно прекратить проведение Акции в целом или частично. Информация об изменении условий Акции, приостановке, прекращении Акции размещается Организатором Акции на сайте www.chitai-gorod.ru.

      16. Совершение лицом действий, направленных на участие в Акции, является выражением согласия такого лица с настоящими Правилами в полном объёме.